@media(min-width: 700px)  {
  
.container {
    max-width: 600px;
    margin-top: 5%;
    padding-top: 2%;
    border-radius: 5%;
    /* border-radius: 10% 22% 30% 40%; */
    background-color: rgba(54, 56, 58, 0.81);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .fontlabel {
    font-size: 16px;
    font-weight: bold;
  }
  
  .form-control-lg {
    padding: 10px;
    font-size: 16px;
  }
  
  .invalid-feedback {
    color: red;
    font-size: 14px;
  }
  
  .submit {
    width: 100%;
  }
  .main{
    background-image: url("forms.jpeg");
    background-repeat: no-repeat; 
    background-size: cover;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media(max-width: 768px)  {
  
  .container {
      max-width: 600px;
      margin-top: 5%;
      padding-top: 2%;
      border-radius: 5%;
      /* border-radius: 10% 22% 30% 40%; */
      background-color: rgba(54, 56, 58, 0.81);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      color: white;
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
    }
    
    .fontlabel {
      font-size: 16px;
      font-weight: bold;
    }
    
    .form-control-lg {
      padding: 10px;
      font-size: 16px;
    }
    
    .invalid-feedback {
      color: red;
      font-size: 14px;
    }
    
    .submit {
      width: 100%;
    }
    .main{
      background-image: url("forms.jpeg");
      background-repeat: no-repeat; 
      background-size: cover;
      height: 140vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }