<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="#"><img class="logo"src="./assets/Logo only.png" alt=""></a>
  <div class="ml-auto mt-auto">
  <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" data-duration="500">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto ml-auto w-100">
      <li class="nav-item active">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#myCarousel">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#service">Services</a>
      </li>
      <li class="nav-item contact">
        <a class="nav-link contact-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>



<router-outlet></router-outlet>

<!-- footer-code -->

<footer>
  <div class="footer-container">
    <div class="top">
      <div class="top-icons">
        <a *ngFor="let item of footerItems" href="{{ item.url }}" style="padding-left: 5%;">
          <img src="{{ item.imagePath }}" alt="{{ item.name }} icon" />
        </a>
      </div>
    </div>
    <div class="bottom">
      <div class="content1">
        <h2>Contact</h2>
        <div *ngFor="let item of contact" class="contact-icon">
          <a href="{{ item.url }}">
            <img src="{{ item.imagePath }}" alt="{{ item.name }} icon" />
          </a>
          <div class="contact-message">
            <span>{{ item.message }}</span>
          </div>
        </div>
      </div>
      <div class="content1">
        <h2>Office</h2>
        <div class="contact-icon">
          <a href="{{ location[0].url }}">
            <img src="{{ location[0].imagePath }}" alt="{{ location[0].name }} icon" />
          </a>
          <div class="contact-message">
            <span>{{ location[0].message }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="content2">
      <h2>&copy; 2023 Anupama Recording Company. All rights reserved.</h2>
      <h2 style="text-align: center;">GSTIN: 09AERPN4483P1ZD</h2>
    </div>
  </div>
</footer>
